.slide-img {
    width: 100% !important;
    height:auto !important;
    transform: translateY(calc((250px - 100%)/2));
}

.carousel-inner {
    height: 250px !important;
    border-radius: 8px;
}

.carousel-item .slide-title {
    top: 5px;
    font-size: 22px;
    text-align: left;
    right: 0%;
    left: 5%;
}